<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz</h1>
    <form method="post">
        {% for i, question in enumerate(questions) %}
            <fieldset>
                <legend>{{ question['question'] }}</legend>
                {% for option in question['options'] %}
                    <input type="radio" name="question-{{ i }}" value="{{ option }}"> {{ option }}<br>
                {% endfor %}
            </fieldset>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>